#comparison{
    background-color: var(--main);
    color: var(--text);
}

#comparison__introduction {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 1rem;
}

.comparison__img {
    width: 45%;
    object-fit: contain;
}

#comparison__title {
    font-size: 1.3rem;
    font-weight: 600;
    width: 100%;
    & > strong {
        color: var(--bkg);
    }
    & > bold {
        font-weight: 900;
        color: var(--bkg);
        filter: brightness(1.3);
    }
}

.comparison__text {
    display: none;
    font-size: 0.8rem;
    margin: 0.5rem auto;
    width: 70%;
}

#comparison__table {
    border-radius: 20px;
    background-color: var(--gold);
    border-collapse: collapse;
    color: var(--bkg);
    font-size: 0.9rem;
    margin: 2rem;
    overflow: hidden;
    width: calc(100% - 4rem);
    padding: 0;
    table-layout: fixed;
    & * {
        width: 100%;
    }
}

#comparison__table > thead {
    height: 7vh;
    margin-left: 1rem;
}
#comparison__table > thead > tr > th:nth-child(2) {
    filter: brightness(1.2);
}

#comparison__table td {
    background-color: var(--gold);
    text-align: center;
    padding: 0.5rem;
    height: 100%;
}

#comparison__table td:first-child,
#comparison__table td:last-child {
    filter: brightness(0.95);
}

#comparison__table tr:nth-child(even) > td:first-child,
#comparison__table tr:nth-child(even) > td:last-child {
    filter: brightness(1);
}

#comparison__table tr > td:nth-child(2) {
    filter: brightness(1.1);
}

#comparison__table tr:nth-child(even) > td:nth-child(2) {
    filter: brightness(1.05);
}

#comparison__table .comparison__best {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#comparison__table .comparison__best::after {
    content: "";
    display: inline-block;
    background: url("../svg/accept.svg") no-repeat center;
    filter: invert(33%) sepia(77%) saturate(1731%) hue-rotate(333deg)
        brightness(86%) contrast(85%);
    width: 25px;
    height: 25px;
}

#comparison__winner {
    align-items: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    height: 15vh;
    padding: 0 1rem;
    margin-bottom: 2rem;
    & > h4 {
        width: 50%;
        height: 20%;
    }
    & > .title {
        width: 50%;
        height: 80%;
        text-align: left;
        & > strong {
            color: var(--bkg);
        }
    }
    & > img {
        width: 35%;
    }
}

@media screen and (min-width: 768px) {
    .comparison__img {
        width: 30%;
    }

    #comparison__title {
        width: 40%;
    }

    .comparison__text {
        width: 30%;
    }
    #comparison__winner {
        height: 20vh;
        padding: 0 1rem;
        margin: 3rem 0;
    }
}

@media screen and (min-width: 1024px) {
    #comparison{
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #comparison__introduction {
        width: 70%;
    }
    #comparison__table {
        width: calc(90% - 4rem);
    }

    #comparison__table td {
        padding: 1rem 0.5rem;
    }

    #comparison__winner {
        width: 90%;
        & > .title {
            font-size: 2.5rem;
        }
    }
}
