em {
    color: var(--bkg);
}

.paragraph {
    font-weight: 300;
    text-align: center;
    width: 75%;
}
.greeting__container {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-bottom: 2rem;
}

/* greeting */
#greeting {
    color: var(--text);
    padding-bottom: 5rem;
}
#greetings {
    margin-bottom: 0;
}
#greetings__img {
    width: 100%;
    filter: brightness(1.1) contrast(100%);
}

#greetings__title {
    font-size: 2.5rem;
}

.quality__img {
    width: 100%;
}

#design__img {
    width: 80%;
}

@media screen and (min-width: 768px) {
    #greetings__img,
    .quality__img {
        width: 50%;
    }

    #design__img{
        width: 40%;
    }
}

@media screen and (min-width: 1024px) {
    #greeting {
        align-items: flex-end;
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 10rem;
    }
    #greeting > section {
        width: 50%;
    }
    #greeting > #greetings {
        width: 100%;
    }

    #design__img{
        width: 40%;
    }
}