#header {
    align-items: center;
    border-bottom: 2px solid var(--main);
    background-color: var(--main);
    color: var(--text);
    display: flex;
    filter: drop-shadow(0px 0px 5px var(--bkg));
    flex-wrap: wrap;
    justify-content: space-between;
    height: 15vh;
    width: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
}

#header__title {
    height: 8vh;
    margin: 1rem;
    margin-right: 0;
    width: 50%;
    & > img {
        height: 100%;
        object-fit: contain;
        object-position: left;
        width: 100%;
    }
}

#menuBtn {
    background: url("../svg/menu.svg") no-repeat center;
    border: none;
    cursor: pointer;
    color: var(--main);
    filter: invert(100%);
    margin: 1rem;
    margin-left: 0;
    height: 3rem;
    width: 3rem;
}

#menu {
    background-color: var(--main);
    display: none;
    flex-direction: column;
    position: absolute;
    width: 100%;
    top: 15vh;
    z-index: -1;
    & > a:first-child {
        animation-delay: 200ms;
    }
    & > a:nth-child(2) {
        animation-delay: 100ms;
    }
}

#menu > a {
    animation: slideInBottom 500ms ease-in-out both;
    background-color: var(--main);
    color: var(--text);
    font-size: 1.3rem;
    padding: 1rem;
    text-decoration: none;
    text-align: center;
    width: 100%;
    &::before {
        color: rgba(0, 0, 0, 0);
        content: "✦";
        padding-right: 3px;
    }
}
#menu > a:hover {
    background-color: var(--main);
    &::before {
        color: var(--text);
    }
}

@media screen and (min-width:1024px) {
    #menu {
        border-bottom-left-radius: 10%;
        overflow: hidden;
        right: 0;
        width: 20%;
    }
}