.opinion {
    background-color: var(--gold);
    color: var(--bkg);
    /* transform: translateY(-5%); */
}

.title-section {
    margin-bottom: 2rem;
    & > strong {
        filter: brightness(1.1) contrast(1.2);
    }
}

.opinion__container {
    display: grid;
    gap: 5px;
    grid-template-areas: "img title" "img text";
    grid-template-columns: 50% 50%;
    padding: 1rem;
    width: 100%;
    & > .opinion__img {
        justify-self: flex-start;
    }
}
.opinion__container-inverse {
    grid-template-areas: "title img" "text img";
    & > .opinion__img {
        justify-self: flex-end;
    }
}

.opinion__img {
    align-self: center;
    border: 1px solid var(--bkg);
    border-radius: 100%;
    grid-area: img;
    object-fit: cover;
    height: 150px;
    width: 150px;
}

.opinion__title {
    align-self: flex-end;
    font-size: 1.5rem;
    font-weight: 900;
    grid-area: title;
}

.opinion__text {
    font-weight: 300;
    grid-area: text;
    & > strong {
        font-weight: 500;
    }
}

@media screen and (min-width: 768px) {
    .opinion__container {
        display: grid;
        gap: 5px;
        grid-template-areas: "img title" "img text";
        grid-template-columns: 25% 75%;
        justify-content: space-between;
        padding: 2rem 5rem;
        width: 100%;
    }
    .opinion__container-inverse {
        grid-template-areas: "title img" "text img";
        grid-template-columns: 75% 25%;
    }
}

@media screen and (min-width: 1024px) {
    .opinion__container {
        width: 70%;
    }
    .opinion {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 10rem;
    }
}
